@echo off
echo Cleaning build directory...
if exist bin rd /s /q bin
mkdir bin

echo Compiling ...
dir /s /b src\*.java > sources.txt
javac -encoding UTF-8 -cp "lib/*;bin/" -d bin/ --source-path ./src/ @sources.txt
del sources.txt

java -Djava.library.path="lib" -cp ".;bin/;lib/*" engine.Main